.nav {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 5em;
  max-width: 1800px;
  min-width: 870px;
}
.div {
  padding: 0 2em;
}
.img {
  position: absolute;
  display: block;
  top: 2em;
}

.ul {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.li {
  padding: 2em;
  cursor: pointer;
}

.nav-button:hover {
  background-color: hsl(256, 26%, 20%);
  border: 0;
  outline: 0;
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}
