.div {
  position: relative;
  top: 20em;
  width: 100%;
}

.responsive {
  width: 80%;
  margin: 0 auto;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extensionComps {
  display: flex;
}
