@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

.template-div {
  display: flex;
  margin-top: 2.5em;
}

.div-visual {
  width: 4em;
  height: 2em;
  text-align: center;
  border-radius: 999px;
  background-color: hsl(12, 88%, 59%);
  margin-right: 2em;
}

.div-h2 {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  color: hsl(0, 0%, 98%);
  font-size: 1rem;
  padding: 0.3em;
}

.h2 {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: hsl(228, 39%, 23%);
  font-size: 1.2rem;
  margin-top: 0.2em;
}

.p {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: hsl(227, 12%, 61%);
  font-size: 1rem;
  line-height: 25px;
}
