.footer {
  position: relative;
  width: 100%;
  height: 20em;
  top: 65em;
  background-color: hsl(216, 53%, 9%);
}

.div {
  position: relative;
  top: 10em;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.responsive {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2em;
}

.img {
  height: 1em;
}

.flex {
  width: 30em;
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  align-items: center;
}

.footer-comps {
  display: flex;
  justify-content: space-between;
}

.p {
  padding-left: 2em;

  font-size: 0.8rem;
}

.h2 {
  font-size: 1em;
  padding-left: 2em;
}

@media (min-width: 1700px) {
  .div {
    width: 50%;
  }
}
