.section {
  position: relative;
  width: 100%;
  top: 20em;
}

.div {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 1700px) {
  .div {
    width: 40%;
  }
}
