.button {
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

@media (min-width: 1700px) {
  .button {
    font-size: 1.5rem;
  }
}
